;{{ ansible_managed }}


[{{ item.name }}]
; Defaults
{% for directive, value in php_fpm_pool_defaults.iteritems() %}
  {{ directive }} = {{ value }}
{% endfor %}

; Pool custom directives
{% for directive, value in item.iteritems() if directive != "name" %}
  {% if directive == 'env' -%}
    {% for env_var, value in value.iteritems() -%}
      env[{{ env_var }}] = {{ value }}
    {% endfor %}
  {% else %}
  {{ directive }} = {{ value }}
  {% endif %}
{% endfor %}